.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
    background-color: #3450A1;
    min-height: 90vh;
    padding: 50px 100px;

    .inputs {
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 40px 0;

        input,
        textarea,
        button {
            padding: 10px;
            font-size: 14px;
        }

        textarea {
            resize: none;
            height: 100px;
        }
    }
}