*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #141e27;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #eee;
}
.header {
  height: 75px;
  width: 100%;
  min-width: 1400px;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203239;
}
.header .logo {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Hurricane', cursive;
}
.main {
  width: 1400px;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.main h2 {
  margin: 3rem 0 0 0;
}
.main form {
  min-width: 500px;
  margin: 3rem 0 0 0;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #e0ddaa;
  border-radius: 5px;
}
.main form input,
.main form select {
  width: 400px;
  border: 0.5px solid #203239;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.main form .error {
  color: #f44336;
  font-size: 0.8rem;
}
.main .col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.main .row {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main .cab-info {
  gap: 7rem;
}
.main .avatar {
  border-radius: 50%;
  width: 150px;
}
.cabinet {
  text-align: center;
  background-color: #e0ddaa;
  padding: 1rem;
  min-width: 600px;
  border-radius: 5px;
}
.btn-dark {
  background-color: #203239;
  color: #eee;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}
.btn-dark:hover {
  background-color: #141e27;
}
.btn-dark:active {
  filter: brightness(0.7);
}
.btn-transperent {
  width: 500px;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 5px solid #203239;
  border-radius: 5px;
  color: #203239;
  font-weight: 600;
  font-size: 1.5rem;
  transition: 0.2s;
}
.btn-transperent:hover {
  background-color: #203239;
  color: #eee;
}
.btn-transperent:active {
  filter: brightness(0.7);
}
.load-screen {
  background-color: #e0ddaa;
  width: max-content;
  height: max-content;
  padding: 2rem;
  border-radius: 5px;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.load-screen img {
  width: 150px;
  height: 150px;
}
.hide {
  display: none;
}
.exit {
  padding: 0.5rem 2rem;
  border: none;
}
