.menu {
    width: 100%;
    background-color: var(--secondary-bc-color);
    color: var(--primary-menu-text-color);
    border-bottom: 3px solid var(--primary-border-color);

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 50px;

        & li {
            display: block;
            padding: 20px;

            a {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 1px;
                transition: 0.3s;

                &:hover {
                    text-shadow: var(--secondary-menu-text-color) 1px 0 10px;
                }
            }
        }
    }
}

.active {
    color: var(--secondary-menu-text-color);
}