.menu {
    width: 100%;
    background-color: #041955;
    color: #96B3FE;
    border-bottom: 3px solid #EB06FF;

    & ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 50px;

        & li {
            display: block;
            padding: 20px;

            a {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 1px;
                transition: 0.3s;

                &:hover {
                    text-shadow:#227BFF 1px 0 10px ;
                }
            }
        }
    }
}

.active {
    color: #227BFF;
}