.container {
  width: 1300px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: var(--color-text);
  box-shadow: 0px 0px 15px 1px var(--border-n-shadow);
}
.container .drinks {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem 0;
}
.container .drinks .break {
  width: 350px;
  height: 0;
}
