.achivemnts {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            p {
                margin: 0.5rem 0;
            }
        }
    }
}