*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary-bc-color: #3450a1;
  --secondary-bc-color: #041955;
  --primary-text-color: #fff;
  --secondary-text-color: #87a4f0;
  --error-text-color: #e57373;
  --primary-border-color: #eb06ff;
  --primary-menu-text-color: #96b3fe;
  --secondary-menu-text-color: #227bff;
}
