.input {
    padding: 0.5rem;
    border-radius: 5px;
    outline: 3px solid #42A5F5;
    border: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }

    &:focus {
        outline: 4px solid #2196F3;
    }
}