*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Dongle", sans-serif;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
::selection {
  color: #fff;
  background-color: #c32056;
}
.wrapper {
  color: #212121;
  display: flex;
  position: relative;
  max-width: 2000px;
  min-width: 550px;
  width: 100%;
}
.wrapper > [type="checkbox"] {
  display: none;
}
.wrapper #btn_menu:checked + .nav {
  width: 15%;
  min-width: 220px;
  padding: 2rem 1rem;
  box-shadow: 2px 2px 2px 2px #c0c0c0;
  transition: 0.3s;
}
.wrapper #btn_menu:checked + .nav:hover {
  box-shadow: 3px 3px 4px 4px #c0c0c0;
}
.wrapper .nav {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
  width: 15%;
  box-shadow: 2px 2px 2px 2px #c0c0c0;
  z-index: 1;
  min-width: 220px;
  transition: 0.3s;
}
.wrapper .nav:hover {
  box-shadow: 3px 3px 4px 4px #c0c0c0;
}
.wrapper .nav h2 {
  font-size: 2rem;
  text-transform: capitalize;
}
.wrapper .nav .nav-menu {
  border-top: #212121 1px solid;
  margin: 2rem -1rem;
  padding: 2rem 2rem 1rem 1rem;
}
.wrapper .nav .nav-menu li:nth-of-type(2) {
  background-color: #c32056;
  color: #fff;
}
.wrapper .nav .nav-menu li:nth-of-type(2) svg {
  fill: #fff;
}
.wrapper .nav .nav-menu li {
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
  transition: 0.3s;
}
.wrapper .nav .nav-menu li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.wrapper .nav .nav-menu li svg {
  width: 20px;
  height: 20px;
  fill: #9f9f9f;
}
.wrapper .nav .nav-menu li:hover {
  background-color: #c32056;
  color: #fff;
}
.wrapper .nav .nav-menu li:hover svg {
  fill: #fff;
}
.wrapper .section {
  background-color: #eaeaea;
  width: 100%;
  padding: 2rem;
}
.wrapper .section .main {
  margin: 2rem 0 0 0;
  display: flex;
  gap: 5rem 1rem;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
}
.wrapper .section .main form {
  margin: 3rem 0 0 0;
  width: 60%;
  flex-grow: 1;
  box-shadow: 2px 2px 2px 2px #c0c0c0;
  transition: 0.3s;
  background-color: #f6f6f6;
  padding: 1.5rem;
}
.wrapper .section .main form:hover {
  box-shadow: 3px 3px 4px 4px #c0c0c0;
}
.wrapper .section .main form label {
  color: #9f9f9f;
}
.wrapper .section .main form .form-head {
  background-color: #c32056;
  color: #fff;
  padding: 1rem;
  margin: -3.5rem 0 0 0;
}
.wrapper .section .main form .col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem 0;
  gap: 1rem;
}
.wrapper .section .main form .col [type="text"],
.wrapper .section .main form .col [type="email"],
.wrapper .section .main form .col [type="number"],
.wrapper .section .main form .col textarea {
  width: 100%;
}
.wrapper .section .main form .row {
  display: flex;
  gap: 2rem;
}
.wrapper .section .main form textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 100px;
}
.wrapper .section .main form .subm {
  text-align: right;
}
.wrapper .section .main form .subm [type="submit"] {
  border: none;
  background-color: #c32056;
  color: #fff;
  padding: 0.5rem 4rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}
.wrapper .section .main form .subm [type="submit"]:hover {
  box-shadow: 3px 3px 5px 1px #9f9f9f;
}
.wrapper .section .main form .subm [type="submit"]:active {
  filter: brightness(1.1);
  box-shadow: 4px 4px 7px 2px #9f9f9f;
}
.wrapper .section .main form input,
.wrapper .section .main form textarea {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #212121;
  flex-grow: 1;
}
.wrapper .section .main .descr {
  margin: 3rem 0 0 0;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 35%;
  flex-grow: 1;
  padding: 2rem;
  height: max-content;
  gap: 1rem;
  min-width: 370px;
  box-shadow: 2px 2px 2px 2px #c0c0c0;
  transition: 0.3s;
}
.wrapper .section .main .descr:hover {
  box-shadow: 3px 3px 4px 4px #c0c0c0;
}
.wrapper .section .main .descr p:nth-of-type(1) {
  text-transform: uppercase;
  color: #9f9f9f;
}
.wrapper .section .main .descr h3 {
  text-transform: capitalize;
}
.wrapper .section .main .descr .photo {
  margin: -6rem 0 0 0;
  background-image: url(assets/avatar.jfif);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 2px 2px #c0c0c0;
  transition: 0.3s;
  pointer-events: none;
}
.wrapper .section .main .descr .photo:hover {
  box-shadow: 3px 3px 4px 4px #c0c0c0;
}
.wrapper .section .burger {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .section .burger .burger_menu {
  display: none;
  position: relative;
}
.wrapper .section .burger .burger_menu label {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.wrapper .section .burger .burger_menu img {
  width: 30px;
  height: 20px;
}
.wrapper .section .burger h2 {
  font-size: 2rem;
  text-transform: capitalize;
}
.wrapper .section .sec-footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  margin: 3rem 0 0 0;
  border-top: #212121 solid 1px;
}
.wrapper .section .sec-footer ul {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.wrapper .section .sec-footer li:hover {
  border-bottom: #212121 1px solid;
}
@media screen and (max-width: 800px) {
  .wrapper .nav {
    width: 0;
    overflow: hidden;
    min-width: 0;
    padding: 0;
    box-shadow: none;
    position: fixed;
    z-index: 2;
    height: 100%;
  }
  .wrapper .section {
    padding: 0 2rem;
  }
  .wrapper .section .burger {
    position: sticky;
    top: 0;
    background-color: #eaeaea;
    box-shadow: 2px 2px 2px 2px #c0c0c0;
    transition: 0.3s;
    margin: 0 -2rem;
    padding: 1rem;
    z-index: 1;
  }
  .wrapper .section .burger:hover {
    box-shadow: 3px 3px 4px 4px #c0c0c0;
  }
  .wrapper .section .burger .burger_menu {
    display: block;
  }
}
