.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
    background-color: #3450A1;
    min-height: 90vh;
    padding: 50px 100px;

    .todo {
        padding: 20px;
        width: 500px;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px #041955;
        color: #fff;
        background-color: #041955;
        cursor: pointer;
        --animate-duration: 0.6s;


        .date {
            font-size: 12px;
            letter-spacing: 0.5px;
            color: #87A4F0;
        }
    }
}