.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
    background-color: #3450A1;
    min-height: 90vh;
    padding: 50px 100px;

    .todo {
        padding: 20px;
        width: 500px;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px #041955;
        color: #fff;
        background-color: #041955;
        cursor: pointer;
        --animate-duration: 0.6s;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;

        .head {
            font-size: 24px;
            font-weight: 800;
        }

        .date {
            font-size: 12px;
            letter-spacing: 0.5px;
            color: #87A4F0;
        }

        .del {
            width: 26px;
            height: 30px;
            background-image: url('https://cdn.iconscout.com/icon/free/png-256/delete-2671400-2217238.png');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            position: absolute;
            right: 1rem;
        }
    }
}