input {
  padding: 0.7rem 1rem;
  width: 500px;
  border: none;
  border-radius: 5px;
  outline: 5px solid var(--border-n-shadow);
  transition: 0.3s;
}
input:focus {
  box-shadow: 2px 2px 20px 7px var(--border-n-shadow);
  outline: 2px solid var(--border-n-shadow);
}
