.card {
  width: 400px;
  height: 600px;
  padding: 1rem;
  background-color: var(--secondary-color-bc);
  border: 7px solid var(--secondary-color-border);
  outline: 10px solid var(--primary-color-border);
  border-radius: 20px;
}
.card img {
  width: 100%;
  height: 300px;
}
